body {
    font: 15px Avenir, Futura, sans-serif;
    margin: 3em;
    padding: 0;
}

table {
    border-collapse: collapse;
    /* width: 50%; */
}

.taskCell {
    min-width: 25em;
}

td, th {
    padding: 8px;
}

tr {
  border: 1px solid #ddd;
}

.completeTodoCheckbox {  
    height: 1.5em;
    width: 1.5em;
}
