body {
    font: 15px Avenir, Futura, sans-serif;
    background-color: pink;
    margin: 3em;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 8px;
}

tr {
  border: 1px solid #ddd;
}

.taskCell {
    min-width: 15em;
}

input[type="text"] {
    margin-bottom: 2em;
    padding: 1em;
    width: 22em;
}

button {
    background-color: transparent;
    border: none;
}

.completeTodoCheckbox {  
    height: 1.5em;
    width: 1.5em;
}

#addTodoButton {
    font-size: 2em;
    text-align: center;
}

button:disabled {
  color: #cc9595;
}

.deleteTodoButton {
    color: white;
    font-weight: bolder;
}